# This file is part of the OpenMV project.
#
# Copyright (C) 2026 OpenMV, LLC.
#
# This work is licensed under the MIT license, see the file LICENSE for details.
#
# Download URLs and SHA-256 checksums for all SDK components.
# Sourced by build.sh. Variables are named <COMPONENT>_<FIELD>[_<PLATFORM>].

########################################################################################
# GCC 14.3.rel1
GCC_DEST="gcc.tar.xz"
GCC_URL_linux_x86_64="https://developer.arm.com/-/media/Files/downloads/gnu/14.3.rel1/binrel/arm-gnu-toolchain-14.3.rel1-x86_64-arm-none-eabi.tar.xz"
GCC_SHA_linux_x86_64="8f6903f8ceb084d9227b9ef991490413014d991874a1e34074443c2a72b14dbd"
GCC_URL_darwin_arm64="https://developer.arm.com/-/media/Files/downloads/gnu/14.3.rel1/binrel/arm-gnu-toolchain-14.3.rel1-darwin-arm64-arm-none-eabi.tar.xz"
GCC_SHA_darwin_arm64="30f4d08b219190a37cded6aa796f4549504902c53cfc3c7e044a8490b6eba1f7"
GCC_DEST_windows_x86_64="gcc.zip"
GCC_URL_windows_x86_64="https://developer.arm.com/-/media/Files/downloads/gnu/14.3.rel1/binrel/arm-gnu-toolchain-14.3.rel1-mingw-w64-x86_64-arm-none-eabi.zip"
GCC_SHA_windows_x86_64="864c0c8815857d68a1bbba2e5e2782255bb922845c71c97636004a3d74f60986"

########################################################################################
# LLVM Embedded Toolchain for Arm 18.1.3
LLVM_DEST_linux_x86_64="llvm.tar.xz"
LLVM_URL_linux_x86_64="https://github.com/ARM-software/LLVM-embedded-toolchain-for-Arm/releases/download/release-18.1.3/LLVM-ET-Arm-18.1.3-Linux-x86_64.tar.xz"
LLVM_SHA_linux_x86_64="7afae248ac33f7daee95005d1b0320774d8a5495e7acfb9bdc9475d3ad400ac9"
LLVM_DEST_darwin_arm64="llvm.dmg"
LLVM_URL_darwin_arm64="https://github.com/ARM-software/LLVM-embedded-toolchain-for-Arm/releases/download/release-18.1.3/LLVM-ET-Arm-18.1.3-Darwin-universal.dmg"
LLVM_SHA_darwin_arm64="2864324ddff4d328e4818cfcd7e8c3d3970e987edf24071489f4182b80187a48"
LLVM_DEST_windows_x86_64="llvm.zip"
LLVM_URL_windows_x86_64="https://github.com/ARM-software/LLVM-embedded-toolchain-for-Arm/releases/download/release-18.1.3/LLVM-ET-Arm-18.1.3-Windows-x86_64.zip"
LLVM_SHA_windows_x86_64="3013dcf1dba425b644e64cb4311b9b7f6ff26df01ba1fcd943105d6bb2a6e68b"

########################################################################################
# CMake 3.30.2
CMAKE_DEST="cmake.tar.gz"
CMAKE_URL_linux_x86_64="https://github.com/Kitware/CMake/releases/download/v3.30.2/cmake-3.30.2-linux-x86_64.tar.gz"
CMAKE_SHA_linux_x86_64="cdd7fb352605cee3ae53b0e18b5929b642900e33d6b0173e19f6d4f2067ebf16"
CMAKE_URL_darwin_arm64="https://github.com/Kitware/CMake/releases/download/v3.30.2/cmake-3.30.2-macos-universal.tar.gz"
CMAKE_SHA_darwin_arm64="c6fdda745f9ce69bca048e91955c7d043ba905d6388a62e0ff52b681ac17183c"
CMAKE_DEST_windows_x86_64="cmake.zip"
CMAKE_URL_windows_x86_64="https://github.com/Kitware/CMake/releases/download/v3.30.2/cmake-3.30.2-windows-x86_64.zip"
CMAKE_SHA_windows_x86_64="48bf4b3dc2d668c578e0884cac7878e146b036ca6b5ce4f8b5572f861b004c25"

########################################################################################
# ST Edge AI (online installer)
STEDGEAI_VERSION="3.0"
STEDGEAI_COMPONENTS="stedgeai0300 stedgeai0300.stm32mcu stedgeai0300.stneuralart"
STEDGEAI_BASE="https://download.openmv.io/stedgeai"
STEDGEAI_DEST_linux_x86_64="stedgeai-linux-onlineinstaller"
STEDGEAI_URL_linux_x86_64="${STEDGEAI_BASE}/stedgeai-linux-onlineinstaller"
STEDGEAI_SHA_linux_x86_64="21ce1a37d9d2e3f9cbcdbdc9d21a27a49d2d77d2ea28539c26cd57eb22834ce1"
STEDGEAI_DEST_darwin_arm64="stedgeai-macarm-onlineinstaller.dmg"
STEDGEAI_URL_darwin_arm64="${STEDGEAI_BASE}/stedgeai-macarm-onlineinstaller.dmg"
STEDGEAI_SHA_darwin_arm64="42c37898528bd72f2f02c9a916378f6ec54b2285edfdea3d1588ce29ebeab84d"
STEDGEAI_DEST_windows_x86_64="stedgeai-windows-onlineinstaller.exe"
STEDGEAI_URL_windows_x86_64="${STEDGEAI_BASE}/stedgeai-windows-onlineinstaller.exe"
STEDGEAI_SHA_windows_x86_64="00c3616187e2321f1fcd3ab788a95c3c9a0c57eead6482679f1577a1ba8c9457"

########################################################################################
# ST CubeProgrammer 2.21.0
CUBEPROG_DEST="stcubeprog.tar.gz"
CUBEPROG_URL_linux_x86_64="https://download.openmv.io/stcubeprog/STCubeProg-2.21.0-linux-x86_64.tar.gz"
CUBEPROG_SHA_linux_x86_64="74b5c5f88ae3ed34ee7eaf8d5987016d71b4bfa456e1933c4b8b909ad281cd95"
CUBEPROG_URL_darwin_arm64="https://download.openmv.io/stcubeprog/STCubeProg-2.21.0-darwin-arm64.tar.gz"
CUBEPROG_SHA_darwin_arm64="8c268db7f4a6ff9195c166d90154435eb745cc9dd03ebb9c3f9707e861214da7"

########################################################################################
# Python 3.12.0 (standalone build from astral-sh)
PYTHON_DEST="python.tar.gz"
PYTHON_URL_linux_x86_64="https://github.com/astral-sh/python-build-standalone/releases/download/20231002/cpython-3.12.0+20231002-x86_64-unknown-linux-gnu-install_only.tar.gz"
PYTHON_SHA_linux_x86_64="e51a5293f214053ddb4645b2c9f84542e2ef86870b8655704367bd4b29d39fe9"
PYTHON_URL_darwin_arm64="https://github.com/astral-sh/python-build-standalone/releases/download/20231002/cpython-3.12.0+20231002-aarch64-apple-darwin-install_only.tar.gz"
PYTHON_SHA_darwin_arm64="4734a2be2becb813830112c780c9879ac3aff111a0b0cd590e65ec7465774d02"
PYTHON_URL_windows_x86_64="https://github.com/astral-sh/python-build-standalone/releases/download/20231002/cpython-3.12.0+20231002-x86_64-pc-windows-msvc-shared-install_only.tar.gz"
PYTHON_SHA_windows_x86_64="facfaa1fbc8653f95057f3c4a0f8aa833dab0e0b316e24ee8686bc761d4b4f8d"

########################################################################################
# GNU Make 4.4.1 (built from source)
MAKE_DEST="make.tar.gz"
MAKE_URL="https://ftpmirror.gnu.org/make/make-4.4.1.tar.gz"
MAKE_SHA="dd16fb1d67bfab79a72f5e8390735c49e3e8e70b4945a15ab1f81ddb78658fb3"

########################################################################################
# dfu-util (built from source)
DFU_UTIL_REPO="https://git.code.sf.net/p/dfu-util/dfu-util"
DFU_UTIL_COMMIT="be4961218b146296661069e4658a308a6eda36b9"
LIBUSB_VERSION="1.0.27"

########################################################################################
# Uncrustify 0.75.0 (built from source)
UNCRUSTIFY_VERSION="0.75.0"
UNCRUSTIFY_DEST="uncrustify.tar.gz"
UNCRUSTIFY_URL="https://github.com/uncrustify/uncrustify/archive/uncrustify-0.75.0.tar.gz"
UNCRUSTIFY_SHA="f4d1bdac7805fc165e99b1001e474d8ce233d91319894f9b4fc8e0964e10d8f6"

########################################################################################
# pv 1.9.31 (built from source)
PV_VERSION="1.9.31"
PV_DEST="pv.tar.gz"
PV_URL="https://www.ivarch.com/programs/sources/pv-1.9.31.tar.gz"
PV_SHA="a35e92ec4ac0e8f380e8e840088167ae01014bfa008a3a9d6506b848079daedf"
